.card-row {
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 5rem;
    padding: 0.5rem 0;
}

.scroll-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.8;
}

.scroll-button.left {
    left: -60px;
}

.scroll-button.right {
    right: -60px;
}

.scroll-button:hover {
    opacity: 1;
}

.btn {
    background: transparent;
}

.category-button {
    padding: 0.5rem rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
    background-color: var(--color-primary);
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 200px;

}

.category-row {
    flex-wrap: nowrap !important;
    overflow-x: visible !important;
    padding: 0.2rem 0;
    margin: 0 -0.25rem;
  }

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .card-link:hover {
    text-decoration: none;
    color: inherit;
  }